#pokemonInfo{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

container{
    border: 1px solid pink;
    margin: 2px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    color: rgb(227, 132, 148);
    text-align: center;
}

.infor{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

form{
    display: flex;
    justify-content: space-around;
}

#button{
    display: flex;
    justify-content: center;
}

button{
    margin: 20px;
    background-color: pink;
    border: none;
}